include pyphd/ressources/scimagojr_2018.csv
include pyphd/ressources/mapt_analyses_details.json
include pyphd/ressources/contrasts/ancova_4gpes_4covs_fcontrast.txt
include pyphd/ressources/contrasts/ancova_4gpes_4covs.txt
include pyphd/ressources/contrasts/ancova_4gpes_3covs.txt
include pyphd/ressources/contrasts/ancova_4gpes_5covs.txt
include pyphd/ressources/contrasts/anova_4gpes_fcontrast.txt
include pyphd/ressources/contrasts/anova_4gpes.txt
include pyphd/ressources/contrasts/glm_2gpes_4covs_one_sided.txt
include pyphd/ressources/contrasts/glm_2gpes_4covs_two_sided.txt
include pyphd/ressources/contrasts/glm_2gpes_5covs_one_sided.txt
include pyphd/ressources/contrasts/glm_2gpes_5covs_two_sided.txt
include pyphd/ressources/contrasts/ttest_one_sided.txt
include pyphd/ressources/contrasts/ttest_two_sided.txt
include pyphd/ressources/contrasts/two_way_anova_2x4_4covs.txt
include pyphd/ressources/contrasts/two_way_anova_2x4_4covs_fcontrast.txt
include pyphd/ressources/contrasts/two_way_anova_2x4.txt
include pyphd/ressources/contrasts/two_way_anova_2x4_3covs.txt
include pyphd/ressources/contrasts/two_way_anova_2x2.txt
include pyphd/ressources/contrasts/two_way_anova_2x2_3covs.txt
include pyphd/ressources/contrasts/two_way_anova_2x2_fcontrast.txt
include pyphd/ressources/contrasts/glm_2gpes_3covs_one_sided.txt
include pyphd/ressources/contrasts/glm_2gpes_3covs_two_sided.txt
